# ----------------------------------------
# ARCHIVOS INDIVIDUALES A EXCLUIR
# Excluyendo todo lo que NO es una carpeta Exercise
# ----------------------------------------
1D_postprocessing_alejandro.ipynb
animation_temp_dens.gif
plotstuff.py
plotting_1D
README.md 
xhermes
BOUT.inp
BOUT.settings
BOUT.dmp.0.nc
BOUT.LOG.0
BOUT.restart.0.nc
